.header-section {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.header-left-side {
    display: flex;
    padding-top: 0.5em;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 12.5em;
    background: url(/images/logo.jpg) no-repeat center center;
    background-size: contain;
    height: 4.5em;
}

.header-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.header-point {
    font-weight: 900;
}

.login-point-btn {
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: #35c5f0;
    color: #fff;
    transition: background-color 0.2s, transform 0.15s;
}

.login-point-btn:hover {
    transform: scale(1.2);
    background-color: #009fce;
}

.header-point-info {
    display: flex;
    gap: 1em;
}

.charge-point-btn {
    font-weight: bold;
    color: #39b9f8;
}
