.products-section-title {
    padding: 2em 0 1em 1em;
    margin-bottom: 3em;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 3px solid #000;
}

.product-item-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
}

.product-item {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    border: 1px solid gray;
}

.product-item > div {
    display: inline-block;
    width: 100%;
}

.product-item > div:hover {
    cursor: pointer;
}

.product-item > a {
    width: 100%;
}

.product-img-area {
    width: 100%;
}

.product-img {
    display: inline-block;
    width: 100%;
    height: 294px;
}

.product-info-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0;
    height: 3em;
    color: #333;
}

.product-info-left-area {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 1em;
    font-size: 1.15em;
}

.product-title {
    font-weight: bold;
}

.product-info-right-area {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding-right: 1em;
}

.like-btn {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-btn i {
    font-size: 1.3em;
    font-weight: 600;
    color: #39b9f8;
}

.product-price {
    font-weight: bold;
}
